# NEXT 
NEXT_PUBLIC_APP_URL="APP_URL"

# PRISMA
DATABASE_URL=""
DIRECT_URL=""

# BETTER AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="APP_URL"
SITE_URL="APP_URL"

# GITHUB
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# GOOGLE
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# AI KEYS (not needed anymore as we setup credentials.)
GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""  

# SENTRY
SENTRY_AUTH_TOKEN=""

# POLAR
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
POLAR_SERVER=""
POLAR_PRO_PRODUCT_SLUG=""

# INNGEST
INNGEST_DEV=1
NEXT_PUBLIC_INNGEST_DEV_SERVER_URL=""

# NGROK
NGROK_URL=""

# ENCRYPTION
ENCRYPTION_KEY=""