# NEXT 
NEXT_PUBLIC_APP_URL="YOUR WEBSITE URL"

# PRISMA
DATABASE_URL="DATABASE URL"
DIRECT_URL="DIRECT URL"

# BETTER AUTH
BETTER_AUTH_SECRET="BETTER AUTH SECRET"
BETTER_AUTH_URL="YOUR WEBSITE URL"
SITE_URL="YOUR WEBSITE URL"

# GITHUB
GITHUB_CLIENT_ID="GITHUB CLIENT ID"
GITHUB_CLIENT_SECRET="GITHUB CLIENT SECRET"

# GOOGLE
GOOGLE_CLIENT_ID="GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="GOOGLE CLIENT SECRET"

# AI KEYS (not required if you setup credentials)
GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""  
IMG_BB_API_KEY=""

# SENTRY
SENTRY_AUTH_TOKEN="SENTRY AUTH TOKEN"

# POLAR
POLAR_ACCESS_TOKEN="POLAR OAT"
POLAR_SUCCESS_URL="YOUR WEBSITE URL/success?checkout_id={CHECKOUT_ID}"
POLAR_SERVER="sandbox" # production or sandbox
NEXT_PUBLIC_POLAR_PRO_PRODUCT_SLUG="product slug for PRO"
POLAR_PRO_PRODUCT_SLUG="product slug for PRO"


# INNGEST (only for development)
INNGEST_DEV=1
NEXT_PUBLIC_INNGEST_DEV_SERVER_URL="INNGEST SERVER URL"

# NGROK (only for development)
NGROK_URL="GET FROM INNGEST WEBSITE"

# ENCRYPTION (confidential)
ENCRYPTION_KEY=""

# NODEMAILER
EMAIL_USER="EMAIL ACCOUNT"
EMAIL_PASS="16 digit app password"
EMAIL_FROM=""EMAIL NAME" <xyz@gmail.com>"