# NEXT 
NEXT_PUBLIC_APP_URL=""

# PRISMA
DATABASE_URL=""
DIRECT_URL=""

# BETTER AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
SITE_URL=""

# AI KEYS (not needed anymore as we setup credentials.)
GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""  

# SENTRY
SENTRY_AUTH_TOKEN=""

# POLAR
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
POLAR_SERVER=""
POLAR_PRO_PRODUCT_SLUG=""

# INNGEST
INNGEST_DEV=1
NEXT_PUBLIC_INNGEST_DEV_SERVER_URL=""